@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OptiCompare.DTOs.PhoneDto

<table>
    <tr>
        <td><label asp-for="brandName">Brand Name</label></td>
        <td><input asp-for="brandName"/></td>
        <td><span asp-validation-for="brandName" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="modelName">Model Name</label></td>
        <td><input asp-for="modelName"/></td>
        <td><span asp-validation-for="modelName" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="hasNetwork5GBands">Has 5G?</label></td>
        <td><input class="no-style" asp-for="hasNetwork5GBands"/><p>&Uparrow;<br>Click here</p></td>
    </tr>
    <tr>
        <td><label asp-for="bodyDimensions.bodyWidth">Body Width</label></td>
        <td><input asp-for="bodyDimensions.bodyWidth"/></td>
        <td><span asp-validation-for="bodyDimensions.bodyWidth" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="bodyDimensions.bodyHeight">Body Height</label></td>
        <td><input asp-for="bodyDimensions.bodyHeight"/></td>
        <td><span asp-validation-for="bodyDimensions.bodyHeight" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="bodyDimensions.bodyWeight">Body Weight</label></td>
        <td><input asp-for="bodyDimensions.bodyWeight"/></td>
        <td><span asp-validation-for="bodyDimensions.bodyWeight" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="bodyDimensions.bodyThickness">Body Thickness</label></td>
        <td><input asp-for="bodyDimensions.bodyThickness"/></td>
        <td><span asp-validation-for="bodyDimensions.bodyThickness" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="displayDetails.displayType">Display Type</label></td>
        <td><input asp-for="displayDetails.displayType"/></td>
        <td><span asp-validation-for="displayDetails.displayType" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="displayDetails.displaySize">Display Size</label></td>
        <td><input asp-for="displayDetails.displaySize"/></td>
        <td><span asp-validation-for="displayDetails.displaySize" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="displayDetails.displayResolution">Display Resolution</label></td>
        <td><input asp-for="displayDetails.displayResolution"/></td>
        <td><span asp-validation-for="displayDetails.displayResolution" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="displayDetails.displayProtection">Display Protection</label></td>
        <td><input asp-for="displayDetails.displayProtection"/></td>
        <td><span asp-validation-for="displayDetails.displayProtection" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="platformDetails.cpu">CPU</label></td>
        <td><input asp-for="platformDetails.cpu"/></td>
        <td><span asp-validation-for="platformDetails.cpu" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="platformDetails.gpu">GPU</label></td>
        <td><input asp-for="platformDetails.gpu"/></td>
        <td><span asp-validation-for="platformDetails.gpu" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="platformDetails.os">Operating System</label></td>
        <td><input asp-for="platformDetails.os"/></td>
        <td><span asp-validation-for="platformDetails.os" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="platformDetails.ram">RAM</label></td>
        <td><input asp-for="platformDetails.ram"/></td>
        <td><span asp-validation-for="platformDetails.ram" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="storage">Storage</label></td>
        <td><input asp-for="storage"/></td>
        <td><span asp-validation-for="storage" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="cameraDetails.mainCameraDetails">Main Camera Details</label></td>
        <td><input asp-for="cameraDetails.mainCameraDetails"/></td>
        <td><span asp-validation-for="cameraDetails.mainCameraDetails" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="cameraDetails.frontCameraDetails">Front Camera Details</label></td>
        <td><input asp-for="cameraDetails.frontCameraDetails"/></td>
        <td><span asp-validation-for="cameraDetails.frontCameraDetails" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="batteryDetails.batteryCapacity">Battery Capacity</label></td>
        <td><input asp-for="batteryDetails.batteryCapacity"/></td>
        <td><span asp-validation-for="batteryDetails.batteryCapacity" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="batteryDetails.chargingSpeed">Charging Speeds</label></td>
        <td><input asp-for="batteryDetails.chargingSpeed"/></td>
        <td><span asp-validation-for="batteryDetails.chargingSpeed" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="batteryDetails.batteryLifeTest">Battery Life Test</label></td>
        <td><input asp-for="batteryDetails.batteryLifeTest"/></td>
        <td><span asp-validation-for="batteryDetails.batteryLifeTest" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="price">Price</label></td>
        <td><input asp-for="price"/></td>
        <td><span asp-validation-for="price" class="text-danger"></span></td>
    </tr>
    <tr>
        <td><label asp-for="image">Image URL</label></td>
        <td><input asp-for="image"/></td>
        <td><span asp-validation-for="image" class="text-danger"></span></td>
    </tr>
</table>