@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OptiCompare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomeIndex.css"/>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/icon.ico")" type="image/x-icon"/>
</head>
<body>
    <header style="display: flex; align-items: center;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3" style="flex-grow: 1;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OptiCompare</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between w-25">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Phones" asp-action="Index">Phones</a>
                        </li>
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Editor") || User.IsInRole("DefaultUser"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Compare" asp-action="Index">Compare</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                    <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2023-2024 - OptiCompare - <a href="https://github.com/trenbolone-acetate/OptiCompare">Git</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
