@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<OptiCompare.Models.User>
@{
    ViewBag.Title = "User list";
}
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="~/css/Roles.css"/>
<h2>User List</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td style="color: ivory;font-size:large">@user.Email</td>
            <td class="access-rights-td">
                <a class="access-rights btn" asp-action="Edit" asp-route-userid="@user.Id">Edit rights</a>
            </td>
        </tr>
    }
</table>
<style>
    
</style>