@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="bg-dark form-control" disabled style="cursor: not-allowed;color: grey"/>
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-75">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    button{
        padding: 2%;
        color: initial;
        background-color: cornflowerblue;
        transition: 0.5s;
        border: 0;
        border-radius: 2pt;
    }
    button:hover{
        box-shadow: black inset 2px 1px 4px;
        background: rgb(38, 96, 198);
        border-radius: 6pt;
        transition: 0.5s;
        color: ivory;
    }
</style>