@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;

    var dwnldButton = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-download\" viewBox=\"0 0 16 16\">\n                        <path d=\"M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5\"/>\n                        <path d=\"M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z\"/>\n                    </svg>";
    var dltButton = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\">\n  <path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z\"/>\n  <path d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z\"/>\n</svg>";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p style="color: #ff4646; font-size: large">
            Deleting this data will permanently remove your account, and this cannot be recovered.
        </p>
        <div class="personal-data-download-delete">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="" type="submit">@Html.Raw(dwnldButton)Download</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn personal-data-download-delete-a">@Html.Raw(dltButton)Delete</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    span{
        font-family: "Arial Unicode MS", serif;
    }
    .personal-data-download-delete{
        display: flex;
        flex-direction: row;
    }
    .personal-data-download-delete *{
        margin: 1%;
    }
    button{
        padding: 2%;
        color: initial;
        background-color: rgb(7, 201, 0);
        transition: 0.5s;
        border: 0;
        border-radius: 2pt;
    }
    button:hover{
        box-shadow: black inset 2px 1px 4px;
        background: rgb(7, 201, 0, 0.2);
        border-radius: 6pt;
        transition: 0.5s;
        color: ivory;
    }
    a.personal-data-download-delete-a{
        padding: 4%;
        text-decoration: none;
        color: initial;
        background-color: rgb(179, 20, 20);
        transition: 0.5s;
        border: 0;
        border-radius: 2pt;
    }
    a.personal-data-download-delete-a:hover{
        box-shadow: black inset 2px 1px 4px;
        background: rgba(201, 0, 0, 0.2);
        border-radius: 6pt;
        transition: 0.5s;
        color: ivory;
    }
    
</style>
