@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OptiCompare</h1>
    <p class="lead">Add, Remove, Compare, Edit phones from your personal list!</p>
    <hr />
</div>