@model OptiCompare.Models.FormField
<div class="form-group">
    <label asp-for="Value" class="control-label form__field">@Model.Label</label>
    <input asp-for="Value" class="form-control form__field" />
    <span asp-validation-for="Value" class="text-danger"></span>
</div>