@model OptiCompare.Models.Phone

@{
    ViewData["Title"] = "Phone Details";
}
<head>
    <link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />
</head>
    <hr />
    @await Html.PartialAsync("_DetailsDeletePartialView",Model)
    <div class="actions">
        <a style="color:lightblue" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index">Back to List</a>
    </div>
