@model OptiCompare.Models.Phone

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/Edit.css" asp-append-version="true" />
</head>
<h1>Edit</h1>
        <form asp-controller="Phones" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            @await Html.PartialAsync("_CreateFormPartial",Model)
            <div class="bottom-actions bg-secondary bg-opacity-50">
                <input type="submit" value="Save" class="btn btn-success"/> |
                <button class="btn btn-info" asp-action="Index">Back to List</button>
            </div>
        </form>
    <a asp-action="Index">Back to List</a>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
