@using X.PagedList
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IPagedList<OptiCompare.DTOs.PhoneDto>
@{
    ViewData["Title"] = "Phone's List";
}
<head>
    <link rel="stylesheet" href="~/css/PhoneIndex.css" asp-append-version="true"/><title>Phones list</title>
</head>


@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]?.ToString()");
    </script>
}
@{
    if (User.IsInRole("Admin"))
    {
        await Html.RenderPartialAsync("AdminShared/_PartialAdminIndex");
    }
    else if (User.IsInRole("Editor"))
    {
        await Html.RenderPartialAsync("EditorShared/_PartialEditorIndex");
    }
    else if (User.IsInRole("DefaultUser"))
    {
        await Html.RenderPartialAsync("DefaultUserShared/_PartialDefaultUserIndex");
    }
    else
    {
        await Html.RenderPartialAsync("_PartialUnauthorized");
    }
}
<datalist id="phones">
    @foreach (var phone in Model)
    {
        <option>@phone.modelName</option>
    }
</datalist>