@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OptiCompare.Models.PhoneComparer?
<head>
  <link rel="stylesheet" href="~/css/ComparerIndex.css" asp-append-version="true" />
  <title>Comparisons</title>
</head>
@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]?.ToString()");
    </script>
}
<div style="display: flex; flex-direction: row; flex-wrap:  wrap;">
  <table class="specName-table">
    <tbody>
    <tr>
      <td rowspan="4">Phone</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>Brand Name</td>
    </tr>
    <tr>
      <td>Model Name</td>
    </tr>
    <tr>
      <td>Has 5G?</td>
    </tr>
    <tr>
      <td>Body Width</td>
    </tr>
    <tr>
      <td>Body Heights</td>
    </tr>
    <tr>
      <td>Body Thickness</td>
    </tr>
    <tr>
      <td>Body Weight</td>
    </tr>
    <tr>
      <td>Display Type</td>
    </tr>
    <tr>
      <td>Display Size</td>
    </tr>
    <tr>
      <td>Display Resolution</td>
    </tr>
    <tr>
      <td>Display Protection</td>
    </tr>
    <tr>
      <td>CPU</td>
    </tr>
    <tr>
      <td>GPU</td>
    </tr>
    <tr>
      <td>OS</td>
    </tr>
    <tr>
      <td>RAM</td>
    </tr>
    <tr>
      <td>Main Camera</td>
    </tr>
    <tr>
      <td>Front Camera</td>
    </tr>
    <tr>
      <td>Battery Capacity</td>
    </tr>
    <tr>
      <td>Charging speed</td>
    </tr>
    <tr>
      <td>Battery Life Test</td>
    </tr>
    <tr>
      <td>Storage</td>
    </tr>
    <tr>
      <td>Price</td>
    </tr>
    <tr>
      <td style="background-color: #98686d;color:ivory">Removal</td>
    </tr>
    </tbody>
  </table>
  @{
    if (Model?.dtoPhones != null)
    {
      foreach (var phone in Model.dtoPhones)
      {
        @await Html.PartialAsync("_ComparisonIndexPartialView", phone)
      }
    }
  }
</div>