table {
    color: black;
    width: 20%;
    border:2px solid #26242a;
    border-collapse: collapse;
    background: darkgray;
    box-shadow:inset 0 1px 10px 0 rgba(0, 0, 0, .5);
}
.specName-table tr > td:first-child {
    text-align: center;
    background-color: rgba(239, 239, 239, 0.4);
    color: rebeccapurple;
}
tbody > tr:first-child {
    font-size: xx-large;
    height: 100pt;
    background-color: rgba(239, 239, 239, 0.4);
    color: rebeccapurple;
} 
tr{
    font-size: medium;
    height: 40pt;
}
td {
    transition: 0.5s;
    border: 1px solid black;
    text-align: center;
}
td:hover{
    transition: 0.5s;
    background: #676666;
    color: ivory;
}
img{
    border:1px solid black;
}