table{
    margin: auto;
    width: 60%;
}
th, td {
    border: 1px solid #ddd;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
}

tr {
    border-bottom: 5px solid #ddd;
}

td {
    font-size: large;
}

tr > td:first-child {
    text-align: center;
    background-color: #353a44;
    color: #ffe2e2;
}
tr > td:nth-child(2) {
    width:70%;
}
tr > td:nth-child(2) input{
    width:90%;
}
.rise {
    animation: rise 1s ease-in-out 0.5s forwards;
}

@keyframes rise {
    25% {
        color: #a000bd;
    }

    50% {
        color: #ec82ff;
    }

    100% {
        color: ivory;
    }
}

.add-btn {
    border: 1pt solid ivory;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
    color: ivory;
    transition: 0.5s;

}
    .add-btn:hover {
        transition: 0.5s;
        border: 1pt dashed grey;
        color: grey;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
    }

.form {
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, .3);
    padding:3%;
}
.bottom-actions{
    border-radius: 5pt;
    padding: 0.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    flex-direction: row;
    margin: 1% auto auto;
}
.bottom-actions a{
    margin: 2%;
    text-decoration: none;
    font-size: large;
}
.bottom-actions input{
    margin: 2%;
    text-decoration: none;
    font-size: large;
}
#hasNetwork5GBands {
    height: 25pt;
}