body {
    background: #BBBED0;
    background: radial-gradient(at right center, #BBBED0, #250D37);
    font-family: Arial, sans-serif;
}

table {
    width: 65%;
    margin: auto;
    border-collapse: collapse;
    background-color: ivory;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .5);
    font-size: medium;
}

th, td {
    border: 1px solid #ddd;
    padding: 3%;
    text-align: center;
    vertical-align: middle;
}

tr {
    border-bottom: 5px solid #ddd;
}

tr > td:first-child {
    background-color: rgba(241, 117, 117, 0.68);
    color: #ffffff;
    text-shadow: 1px 1px 2px red;
}
tr > td:nth-child(2) {
    font-size: large;
}
.actions {
    margin: 1% auto auto;
    padding:1%;
    font-size: large;
    border-radius: 5px;
    background-color: #996095;
    width: 13%;
}
