body {
    background: #BBBED0;
    background: radial-gradient(at right center, #BBBED0, #250D37);
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    background: linear-gradient(45deg, #853bbe, #4291dd);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .5);
}
th, td {
    border: 1px solid #ddd;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
}
tr {
    border-bottom: 5px solid #ddd;
}
td {
    font-size: small;
}
tr > th:first-child {
    text-align: center;
    background-color: rgba(239, 239, 239, 0.4);
    color: #ffe2e2;
}
.container a {
    text-decoration: underline;
    color: #b9b9b9;
    transition: 0.5s;
}
    .container a:hover {
        color: #FFFFFF;
    }

.large {
    font-size: large;
}

.rise {
    text-shadow: 2pt 2pt -2pt 2pt #000;
    animation: rise 1s ease-in-out 0.5s forwards;
}

@keyframes rise {
    25% {
        color: #a000bd;
    }
    50% {
        color: #ec82ff;
    }
    100% {
        color: #9c9c9c;
    }
}
.btn {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3);
}

.form {
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, .3);
    padding: 22px 18px;
}
.form-group {
    margin: auto;
    margin: 2%
}